---
layout: default
title: Lectures
logo_small: false
---
<h1>Lectures</h1>
<ul>
    {% for post in site.posts reversed %}
    {% if post.type == "lecture" %}
    <li>
        <h4><a href="/LectureNotes/{{ post.url }}">{{post.title}}</a></h4>
        <p></p>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h1>Proofs for infinitude of Primes</h1>
<ul>
    {% for post in site.posts reversed %}
    {% if post.type == "proof" %}
    <li>
        <h4><a href="/LectureNotes/{{ post.url }}">{{post.title}}</a></h4>
        <p></p>
    </li>
    {% endif %}
    {% endfor %}
    <li>
        <h4>
            <a href="./assets/Dynamical_system_proof_infinity_primes.pdf">Using Dynamical Systems</a>
        </h4>
    </li>
</ul>

<h1>Homework Assignments</h1>
<ul>
    {% for post in site.posts reversed %}
    {% if post.type == "homework" %}
    <li>
        <h4><a href="/LectureNotes/{{ post.url }}">{{post.title}}</a></h4>
        <p></p>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h1>Lectures on Causality</h1>
<h3>By: Aditi Kathpalia</h3>
<ul>
  {% for post in site.posts reversed %}
  {% if post.type == "Causality" %}
  <li>
      <h4><a href="/LectureNotes/{{ post.url }}">{{post.title}}</a></h4>
      <p></p>
  </li>
  {% endif %}
  {% endfor %}
</ul>
