---
layout: default
title: Lectures
logo_small: false
---
<h1>Lectures</h1>
<ul>
    {% for post in site.posts reversed %}
    {% if post.type != "proof" %}
    <li>
        <h4><a href="/LectureNotes/{{ post.url }}">{{post.title}}</a></h4>
        <p></p>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h1>Proofs for infinitude of Primes</h1>
<ul>
    {% for post in site.posts reversed %}
    {% if post.type == "proof" %}
    <li>
        <h4><a href="/LectureNotes/{{ post.url }}">{{post.title}}</a></h4>
        <p></p>
    </li>
    {% endif %}
    {% endfor %}
</ul>
